.match-contest-word__exit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
}

.match-contest-word__exit__link {
    background-color: rgb(12,102,110, 0.5);
    color: #f9f871;
}