.type-character-contest{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-character-contest__current-word {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    color: white;
    background-color: rgb(12,102,110, 0.5);
    width: 100%;
    min-height: 150px;
    font-size: 60px;
    user-select: none;
}

.type-character-contest__answer-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.type-character-contest__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.type-character-contest__timer {
    font-size: 40px;
    margin-bottom: 30px;
}

.type-character-contest__timer_off {
    min-width: 200px;
    min-height: 30px;
    color: white;
}

.type-character-contest__answer-input {
    text-align: center;
    font-size: 50px;
    min-height: 50px;
    min-width: 230px;
}

.type-character-contest__answer-input_correct {
    background-color: #ff2e63;
    text-align: center;
}

.type-character-contest__answer-is-correct {
    min-width: 220px;
    min-height: 50px;
    background-color: #ff2e63;
    font-size: 25px;
    color: black;
}

.type-character-contest__answers-awaiting {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-height: 30px;
    font-size: 25px;
    background-color: rgb(12,102,110, 0.5);
}

.type-character-contest__answers-ended {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-height: 30px;
    font-size: 25px;
    background-color: #ff2e63;
}